body {
 background-color: #eeeeed;
}

.logo {
  font-family: "Fascinate Inline", system-ui;
}
.hero-blur {
    position: relative;
    background-image: url('/M2PO7_Christopher_Alvarez/img/fondo-burgers.jpeg');
  }
.hero-blur::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(4px); 
    background-color: rgba(0, 0, 0, 0.3);
  }
.hero-content {
    font-family: "Fascinate Inline", system-ui;
    position: relative;
    color: rgb(255, 255, 255);
    padding: 75px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
  }

.card {
  text-align: center;
}