* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    color: #333;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}
.navbar-left {
    display: flex;
    align-items: center;
}
.navbar-logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}
.navbar-name {
    font-size: 24px;
    font-weight: bold;
}
.navbar-links {
    display: flex;
    list-style: none;
}
.navbar-links li {
    margin-left: 20px;
}
.navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.navbar-links a:hover {
    text-decoration: underline;
}
.content {
    display: flex;
    margin-top: 5px;
    padding: 15px;
}
main {
    flex: 3;
    padding: 10px;
    background-color: white;
    margin-right: 20px;
    text-align: center;
}
main h1 {
    font-size: 20px;
    color:#333FFF;
}
#Fondo_cuidador {
    max-width: 100%;    
    height: auto;       
}
aside {
    border-radius: 3%;
    flex: 1;
    background-color: #d3d7f3;
    padding: 30px;
}
aside h2 {
    font-size: 15px;
    color: #494949;
    margin-bottom: 15px;
}
aside form {
    margin-top: 20px;
}
aside form label {
    display: block;
    margin-bottom: 8px;
}
aside form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
aside form .checkbox-label {
    display: inline-flex;            
    align-items: center;      
    font-size: 13px;
    margin-bottom: 15px;
    white-space: nowrap;
}
aside form .checkbox-label input {
    margin-right: 8px; 
    transform: translateY(7px);         
}
aside form button {
    width: 100%;
    padding: 10px;
    background-color: #4c78af;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
aside form button:hover {
    background-color: orange;
}
footer {
    color: white;
    text-align: center;
    padding: 10px;
}
footer .social-media a {
    font-size: 23px;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}
.social-media a:hover {
    color: #4CAF50;
}
/* Diseño responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    .navbar-links {
        flex-direction: column;
        padding: 0;
    }
    .content {
        flex-direction: column;
    }
    aside {
        margin-top: 20px;
    }
}