h1 {
    font-size: 20px;
    color: #333FFF;
}
p {
    margin-top: 25px;
    margin-bottom: 25px;
}
footer a {
    padding: 10px;
    background-color: #888888;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}