body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

form {
    width: 350px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: skyblue;
    cursor: pointer;             
    transition: all 0.4s ease;    
}
button:hover {
    background-color: #70eeff;   
    transform: scale(1.03);        
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}